<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../js/vue.js"></script>
  </head>

  <style></style>

  <body>
    <div id="app">
      <label v-for="hobby in originHobbies" :for="hobby">
        <input type="checkbox" :id="hobby" :value="hobby" v-model="hobbies" />{{hobby}}
      </label>
      <h3>您选择的水果是：{{hobbies}}</h3>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          sex: "男",
          // fruit: [],
          hobbies: [],
          originHobbies: ['篮球', '足球', '网球']
        },
        computed: {},
        methods: {},
      });
    </script>
  </body>
</html>
